<div class="col-md-4 mx-auto">
    <div class="card caja">
        <div class="card-header text-center">
            <h4>Informacion</h4>
        </div>
        <div class="card-body">
            <form>
                <div class="container mt-5">   
                    <span>Carpeta del Proyecto: <input class="form-control form-control-sm mb-2" type="text" aria-label=".form-control-lg example" name="directorio" id="directorio"  value="{{directorio}}" disabled></span>
                    <span>Path de Ejecucion: <input class="form-control form-control-sm mb-2" type="text" aria-label=".form-control-lg example" name="ruta" id="ruta"  value="{{ruta}}" disabled></span>
                    <span>Id del Proceso: <input class="form-control form-control-sm mb-2" type="text" aria-label=".form-control-lg example" name="idProceso" id="idProceso"  value="{{procesoId}}" disabled></span>
                    <span>Nombre de la Plataforma: <input class="form-control form-control-sm mb-2" type="text" aria-label=".form-control-lg example" name="plataforma" id="plataforma"  value="{{nombrePlataforma}}" disabled></span>
                    <span>Version de Node JS: <input class="form-control form-control-sm mb-2" type="text" aria-label=".form-control-lg example" name="version" id="version"  value="{{versionNode}}" disabled></span>
                    <span>Argumentos de Entrada: <textarea class="form-control form-control-sm mb-2" type="text" aria-label=".form-control-lg example" name="argumento" id="argumento" disabled>{{argumentoEntrada}}</textarea></span>
                    <span>Memoria Total Reservada: <textarea class="form-control form-control-sm mb-2" type="text" aria-label=".form-control-lg example" name="memoria" id="memoria" disabled> {{memoriaReservada}}</textarea></span>
                    <span>Numero de Cpu: <input class="form-control form-control-sm mb-2" type="text" aria-label=".form-control-lg example" name="CPU" id="CPU" disabled value="{{{totalCPUs}}}"></span>
                </div>  
            </form>
        </div>
    </div>
</div>